.product-list-container {
  display: grid;
  grid-template-columns: var(--width-productList-aside) 1fr;
  align-items: start;
  gap: var(--sp-fractions3);
  padding: var(--sp-fractions3);
  background-color: var(--clr-product-list-bg);
}
