.product-list-main-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-radius: var(--br-1);
  background-color: var(--clr-white-bg);
}

.msg-no-products {
  font-size: var(--f-twentys1);
  font-weight: var(--fwt-bold);
  text-align: center;
  padding: var(--sp-tens1);
  grid-column: 1/-1;
}
